<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net471" />
  <package id="ESCPOS_NET" version="3.0.0" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net471" />
  <package id="SixLabors.ImageSharp" version="2.1.3" targetFramework="net471" />
  <package id="SkiaSharp" version="2.88.3" targetFramework="net471" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.3" targetFramework="net471" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" targetFramework="net471" />
  <package id="SuperSimpleTcp" version="2.4.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net471" />
  <package id="System.IO.Ports" version="6.0.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Resources.Extensions" version="7.0.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net471" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>